frontend=0.0.0.0,{{ nghttpx_port }}
backend=127.0.0.1,3128
private-key-file={{ nghttpx_private_key_path }}
certificate-file={{ nghttpx_certificate_path }}
workers=2
rlimit-nofile=51200
backlog=10240
backend-connections-per-host=1024
http2-proxy=yes
strip-incoming-x-forwarded-for=yes
add-x-forwarded-for=yes
no-via=yes
no-ocsp=yes
tls-proto-list=TLSv1.2
ciphers=ECDHE+AES128:ECDHE+CHACHA20
errorlog-file=/var/log/nghttpx/error.log
#accesslog-file=/var/log/nghttpx/access.log
#accesslog-format=$remote_addr [$time_iso8601] "$request" $status $body_bytes_sent $alpn "$http_user_agent"
